version: '3'
services: 
  app:
    #起動イメージ
    image: node:12
    #環境変数
    environment: 
      - DEBUG=app:*
      - TZ=Asia/Tokyo
    tty: true
    #ホスト側のポート:コンテナ側のポート
    ports: 
      - '3000:3000'
    #ホスト側のappをコンテナのappにマウント
    volumes: 
      - ./app:/app
    #起動時のカレンとフォルダ
    working_dir: /app
    #起動後に実行するコマンド
    command: npm run dev
  mysqldb:
    image: mysql:5.7
    container_name: mysql_container
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: my_testdb
      MYSQL_USER: docker
      MYSQL_PASSWORD: docker
      TZ: 'Asia/Tokyo'
    volumes:
      - ./docker/db/data:/var/lib/mysql
      - ./docker/db/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./docker/db/sql:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
