<% if (typeof errorMessage === 'undefined') { var errorMessage = []; } %> <%
if(errorMessage.length != 0){ %>
<div>
  <ul>
    <% for(let item of errorMessage){ %>
    <li><%= item %></li>
    <% } %>
  </ul>
</div>
<% } %>
