<header>
  <h1>Node.js Lesson4</h1>
  <ul id="headerul">
    <li>
      <button onclick="location.href = '/dashboards/create'">投稿を作成</button>
    </li>
    <li>
      <button onclick="location.href = '/dashboards'">みんなの投稿</button>
    </li>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <%= user.username %>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="/logout">Logout</a></li>
      </ul>
    </div>
  </ul>
</header>
